<section>

    <h1> Manage Bookings </h1>

    <table border='1'>
        <thead>
            <tr>
                <th colspan="8">
                    Booking Details
                </th>
                <th colspan="1">
                    Actions
                </th>
            </tr>
            <tr>
                <th>
                    S.no.
                </th>
                <th>
                    Booking Id
                </th>
                <th>
                    Trek Id
                </th>
                <th>
                    Trek Name
                </th>
                <th>
                    Trek Code
                </th>
                <th>
                    Booking Date
                </th>
                <th>
                    Amount Paid
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for booking in range(bookings|length) %}
            <tr>
                <td>
                    {{ booking + 1 }}
                </td>
                <td>
                    {{ bookings[booking].id }}
                </td>
                <td>
                    {{ bookings[booking].trek_id }}
                </td>
                <td>
                    {{ bookings[booking].trek.trek_name }}
                </td>
                <td>
                    {{ bookings[booking].trek.trek_code }}
                </td>

                <td>
                    {{ bookings[booking].booking_date }}
                </td>
                <td>
                    {{ bookings[booking].amount_paid }}
                </td>
                <td>
                    {{ bookings[booking].status }}
                </td>
                <td>
                    {% if bookings[booking].status == 'approved' %}
                    <form
                        action="{{ url_for('trekker.booking_action', id=bookings[booking].id, action='cancelled', status='approved') }}"
                        method="POST">
                        <button type="submit">Cancel</button>
                    </form>
                    {% elif bookings[booking].status == 'pending' %}
                    <form
                        action="{{ url_for('trekker.booking_action', id=bookings[booking].id, action='cancelled', status='pending') }}"
                        method="POST">
                        <button type="submit">Cancel</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>

</section>