{% extends "base.html" %}
{% from 'macros/stats.html' import statsCollapse %}
{% block content %}
<div class="container py-3">

    <!-- ======= Booking Statistics ========== -->
    <div>
        {{ statsCollapse(
        title='booking',
        bgcolor='bg-warning-subtle',
        textcolor='text-dark',
        btn_color='btn-light',
        btn_text_color='text-primary',
        items=booking_data
        ) }}
    </div>
    <div>
        <!-- ============== Booking Form ============== -->
        {% include "trekker/booking_form.html" %}
    </div>
    <div>
        <!-- ============== Booking Table ============== -->
        {% include "trekker/booking_table.html" %}
    </div>
</div>
{% endblock %}