{% extends "base.html" %}
{% block content %}
{% from 'macros/stats.html' import statsDashboard %}

<div class="row g-3">
    <!-- ======= Booking Statistics ========== -->
    <div>
        {{ statsDashboard(
        title='booking',
        role='trekker',
        bgcolor='bg-success-subtle',
        textcolor='text-dark',
        btn_color='btn-light',
        btn_text_color='text-primary',
        items=booking_data
        ) }}
    </div>


    <!-- ======= trek Statistics ========== -->
    <div>
        {{ statsDashboard(
        title='trek',
        role='trekker',
        bgcolor='bg-warning-subtle',
        textcolor='text-dark',
        btn_color='btn-light',
        btn_text_color='text-primary',
        items=trek_data
        ) }}
    </div>
</div>

{% endblock %}