{% extends "base.html" %}

{% block content %}


<section class="mb-3">
    <div class="container p-4 border border-black">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-secondary">
                <div class="d-flex justify-content-between gap-3">
                    <h3 class="mb-0 text-white">Profile</h3>
                    <code class="mb-0 fs-3 text-warning">Id: {{ current_user.id }}</code>
                    <a href="{{ url_for('trekker.update_profile') }}" class="btn btn-primary fw-bold fs-6">
                        Edit Profile
                    </a>
                </div>
            </div>

            <div class="card-body table-responsive">
                <table class="table-borderless">
                    <tr>
                        <td class="fs-5 w-25 p-2"><code>Role</code></td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 w-75 p-2"><code>{{ current_user.role|title }}</code></td>
                    </tr>
                    <tr>
                        <td class="fs-5 w-25 p-2">First Name</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 w-75 p-2">{{ current_user.first_name|title }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Last Name</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ current_user.last_name|title }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Email</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Contact</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ current_user.trekker_profile.contact }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Date of Birth</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ current_user.trekker_profile.dob }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Created Date</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ current_user.created_at }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 align-top p-2">Bio</td>
                        <td>:</td>
                        <td class="fs-5 text-wrap p-2">{{ current_user.trekker_profile.bio }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}