{% extends "base.html" %}
{% block content %}
{% from 'macros/stats.html' import statsCollapse %}

<div class="container py-3">

    <!-- ======= trek Statistics ========== -->
    <div>
        {{ statsCollapse(
        title='trek',
        type='statistics',
        bgcolor='bg-warning-subtle',
        textcolor='text-dark',
        btn_color='btn-light',
        btn_text_color='text-primary',
        items=trek_data
        ) }}
    </div>
    <!-- ======= trek Table ========== -->
    <div>
        {% include 'trekker/trek_table.html' %}
    </div>
</div>

{% endblock %}