{% extends 'base.html' %}
{% import 'macros/helper.html' as hm %}
{% block content %}
<section class="my-4">
    <div class="container">
        <div class="card shadow border-0">
            <!-- ================= Header ================= -->
            <div class="card-header bg-primary text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h3 class="mb-0">
                            Trek Details
                        </h3>
                        <small class="text-white-50">
                            View complete information about the selected trek.
                        </small>
                    </div>
                    <div class="text-end">
                        <div class="fw-bold">
                            Trek ID : {{ id }}
                        </div>
                        <a href="{{ url_for('trekker.trek') }}" class="mt-2 btn btn-warning btn-sm fw-semibold">
                            Back
                        </a>
                    </div>
                </div>
            </div>
            <!-- ================= Body ================= -->
            <div class="card-body">
                <div class="card border mb-4">
                    <!-- ========== Trek Information ========== -->
                    <div class="card-header bg-primary-subtle">
                        <h5 class="fw-bold mb-0">
                            Trek Information
                        </h5>
                    </div>
                    <div class="card-body">
                        {{ hm.show_details('Staff Id', staff_id) }}
                        {{ hm.show_details('Trek Code', trek_code, code='yes') }}
                        {{ hm.show_details('Trek Name', trek_name) }}
                        {{ hm.show_details('Location', location) }}
                        {{ hm.show_details('Difficulty', hm.trek_difficulty_badge(difficulty)) }}
                        {{ hm.show_details('Trek Status', hm.trek_badge(trek_status)) }}
                        {{ hm.show_details('Duration', duration ~ ' Days') }}
                        {{ hm.show_details('Start Date', start_date) }}
                        {{ hm.show_details('End Date', end_date) }}
                        {{ hm.show_details('End Date', '₹ ' ~ price) }}
                    </div>
                </div>
                <!-- ========== Slot Information ========== -->
                <div class="card-header bg-secondary-subtle">
                    <h5 class="fw-bold mb-0">
                        Slot Information
                    </h5>
                </div>
                <div class="card-body">
                    {{ hm.show_details('Total Slots', slots) }}
                    {{ hm.show_details('Booked Slots', booked_slots) }}
                    {{ hm.show_details('Available Slots', slots - booked_slots, badge='yes') }}
                </div>
                <!-- ================= Description ================= -->
                <div class="card-header bg-info-subtle">
                    <h5 class="mb-0 fw-bold">
                        Description
                    </h5>
                </div>
                <div class="card-body">
                    <p class="mb-0">{{ description|capitalize }}</p>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
            {% if trek_status == "open" and booked_slots < slots %} 
                <form action="{{ url_for('trekker.trekker_booking_action') }}" method="POST">
                    <input type="hidden" name="trekker_id" value="{{ current_user.id }}">
                    <input type="hidden" name="trek_id" value="{{ id }}">
                    <button type="submit" class="btn btn-outline-primary btn-lg fw-semibold">
                        Book Now
                    </button>
                </form>
            {% else %}
                <a href="{{ url_for('trekker.trek') }}" class="btn btn-outline-dark btn-lg fw-semibold">
                    Back
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}