{% extends "base.html" %}
{% from 'macros/stats.html' import statsCollapse %}
{% block content %}
<div class="container py-3">

    <div>
        <div class="card bg-warning-subtle">
            <div class="card-header bg-primary-subtle">
                <h5 class="mb-0"> Booking </h5>
            </div>
            <div class="card-body">
                <!-- ======= Booking Statistics ========== -->
                <div>
                    {{ statsCollapse(
                    title='booking',
                    type='Statistics',
                    bgcolor='bg-dark-subtle',
                    textcolor='text-dark',
                    btn_color='btn-light',
                    btn_text_color='text-primary',
                    items=booking_data
                    ) }}
                </div>
                <div class="table-responsive">
                    <!-- ============== Booking Table ============== -->
                    {% include "staff/history_booking.html" %}
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card my-3 bg-info-subtle">
            <div class="card-header bg-success-subtle">
                <h5 class="mb-0">
                    Trek
                </h5>
            </div>
            <div class="card-body">

                    <!-- ======= Trek Statistics ========== -->
                <div>
                    {{ statsCollapse(
                    title='trek',
                    type='Statistics',
                    bgcolor='bg-dark-subtle',
                    textcolor='text-dark',
                    btn_color='btn-light',
                    btn_text_color='text-primary',
                    items=trek_data
                    ) }}
                </div>
                <div>
                    <!-- ============== Booking Table ============== -->
                    {% include "staff/history_trek.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}