<nav>
    <div class="logo">
        Trek Management
    </div>

    <!-- Navlinks Links -->
    <div class="nav-links">
        <a href="{{ url_for('staff.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('staff.trek') }}">Assigned Treks</a>
        <a href="{{ url_for('staff.booking') }}">Bookings</a>
        <a href="{{ url_for('staff.history') }}">History</a>
    </div>

    <!-- Search Bar-->
    <div class="search-bar">
        <form action="">
            <input type="text" placeholder="Search treks...">
            <button type="submit">Search</button>
        </form>
    </div>
    <!-- Action Links -->

    <div class="actions">
        <a href="{{ url_for('staff.profile') }}">Profile</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>


</nav>