{% extends "base.html" %}
{% from 'macros/helper.html' import user_profile_data %}

{% block content %}
<section class="container py-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-dark text-white">
            <div class="d-flex flex-wrap gap-3 justify-content-between align-items-center">
                <div>
                    <h3 class="mb-1">My Profile</h3>
                    <p class="mb-0 text-light">View your account information.</p>
                </div>
                <a href="{{ url_for('staff.update_profile') }}" class="btn btn-warning fw-semibold">
                    Edit Profile
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="mb-4 card border">
                <!-- ============ Account Information ============  -->
                <div class="card-header bg-secondary-subtle">
                    <h5 class="mb-0 fw-bold">Account Information</h5>
                </div>
                <div class="card-body">
                    {{ user_profile_data('User Id', current_user.id) }}
                    {{ user_profile_data('Role', current_user.role, badge='yes') }}
                    {{ user_profile_data('Created On', current_user.created_at) }}
                </div>
            </div>
            <!-- ============ Personal Information ============  -->
            <div class="mb-4 card border">
                <div class="card-header bg-warning-subtle">
                    <h5 class="mb-0 fw-bold">Personal Information</h5>
                </div>
                <div class="card-body">
                    {{ user_profile_data('First Name', current_user.first_name|title) }}
                    {{ user_profile_data('Last Name', current_user.last_name|title) }}
                    {{ user_profile_data('Email', current_user.email) }}
                </div>
            </div>
            <!-- ============ Conatact Information ============  -->
            <div class="mb-4 card border">
                <div class="card-header bg-info-subtle">
                    <h5 class="mb-0 fw-bold">Contact Information</h5>
                </div>
                <div class="card-body">
                    {{ user_profile_data('Contact', current_user.staff_profile.contact) }}
                    {{ user_profile_data('Date of Birth', current_user.staff_profile.dob) }}
                </div>
            </div>
            <!-- ============ About Information ============  -->
            <div class="card border">
                <div class="card-header bg-success-subtle">
                    <h5 class="mb-0 fw-bold">Bio</h5>
                </div>
                <div class="card-body">
                    {% if current_user.staff_profile.bio %}
                    <p class="mb-0">{{ current_user.staff_profile.bio }}</p>
                    {% else %}
                    <p class="mb-0 text-muted">No bio added.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}