<div class="container p-3 border border-black">
    <div class="card shadow-sm boarder-0">
        <div class="card-header bg-warning">
            <h3 class="mb-0">
                Treks
            </h3>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th colspan="9" class="text-info">
                            Treks Details
                        </th>
                        <th colspan="2" class="text-info">
                            Actions
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Sid
                        </th>
                        <th>
                            Difficulty
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Trek Status
                        </th>
                        <th>
                            Slots
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Edit Details
                        </th>
                        <th>
                            Activation
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for trek in results.treks %}
                    <tr>
                        <td>
                            {{ trek.id }}
                        </td>
                        <td>
                            {{ trek.trek_code }}
                        </td>
                        <td>
                            {{ trek.trek_name }}
                        </td>
                        <td>
                            {{ trek.staff_id }}
                        </td>
                        <td>
                            {% if trek.difficulty == 'hard' %} <span class="badge bg-danger fs-6">Hard</span>
                            {% elif trek.difficulty == 'moderate' %} <span
                                class="badge bg-warning text-dark fs-6">Moderate</span>
                            {% else %} <span class="badge bg-info text-dark fs-6">Easy</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ trek.duration }}
                        </td>
                        <td>
                            {% if trek.trek_status == 'completed' %} <span
                                class="badge bg-success fs-6">Completed</span>
                            {% elif trek.trek_status == 'approved' %} <span
                                class="badge bg-primary fs-6">Approved</span>
                            {% elif trek.trek_status == 'pending' %} <span class="badge bg-warning fs-6">Pending</span>
                            {% elif trek.trek_status == 'open' %} <span class="badge bg-info fs-6">Open</span>
                            {% elif trek.trek_status == 'closed' %} <span
                                class="badge bg-dark-subtle fs-6">Closed</span>
                            {% else %} <span class="badge bg-danger fs-6">Cancelled</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ trek.slots }}
                        </td>
                        <td>
                            <a href="#" class="btn btn-sm btn-outline-info fw-bold text-danger-emphasis">View</a>
                        </td>
                        <td>
                            <a href="{{ url_for('staff.update_trek', code = trek.trek_code) }}"
                                class="btn btn-secondary btn-sm fw-semibold">
                                Edit
                            </a>
                        </td>
                        <td>

                            <form action="{{ url_for('staff.staff_trek_action_status', code = trek.trek_code) }}"
                                method="post" class="d-flex gap-1 justify-content-md-center">
                                {{ trek_action_form.hidden_tag() }}
                                <div></div>
                                {{ trek_action_form.trek_action(class='form-select-sm') }}
        </div>
        <div>
            <button class="btn btn-sm btn-warning fw-semibold text-dark">Update</button>
        </div>
        </form>
        </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</div>