{% extends "base.html" %}
{% from 'macros/stats.html' import statsCollapse %}
{% block content %}
<div class="container py-3">
    <!-- ============== Booking Statistics  ============== -->
    {{ statsCollapse(
    title='Booking',
    type='Statistics',
    bgcolor='bg-dark',
    textcolor='text-white',
    btn_color='btn-warning',
    btn_text_color='text-dark',
    items=booking_data
    ) }}
    <!-- ============== Booking Table ============== -->
    {% include "admin/booking_table.html" %}
</div>
{% endblock %}