<div class="container py-3">
    <!-- ============== Trekker Statistics  ============== -->
    <div class="mb-4 card shadow-sm border-0">
        <div class="card-header bg-dark text-white">
            <div class="text-center">
                <h2 class="mb-0 pb-3">
                    Trekkers
                </h2>
            </div>
            <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">
                <div>
                    <h3 class="mb-0">
                        Trekker Statistics
                    </h3>
                </div>
                <a href="{{ url_for('admin.history') }}" class="btn btn-outline-warning fw-semibold" type="button">
                    View Trekker History
                </a>
                <a href="{{ url_for('admin.trekker') }}" class="btn btn-warning fw-semibold" type="button">
                    Manage Trekkers
                </a>
            </div>
        </div>
        <div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                    <!-- Total -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-primary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Total Trekkers
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ total_trekker }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Pending -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-warning text-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Pending
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ pending_trekker }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Approved -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-success text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Approved
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ total_trekker - pending_trekker }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Active -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-primary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Active
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ total_trekker - inactive_trekker }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Inactive -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-primary-subtle text-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Inactive
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ inactive_trekker }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Blacklisted -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-danger text-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Blacklisted
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ blacklisted_trekker }}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>