{% extends 'base.html' %}
{% block content %}
{% from 'macros/stats.html' import statsCollapse %}

{{ statsCollapse(
    title='Booking', 
    type='Statistics', 
    bgcolor='bg-dark', 
    textcolor='text-white', 
    btn_color='btn-warning', 
    btn_text_color='text-dark', 
    items=booking_data
) }}
{{ statsCollapse(
    title='Trek', 
    type='Statistics', 
    bgcolor='bg-dark-subtle', 
    textcolor='text-dark', 
    btn_color='btn-warning', 
    btn_text_color='text-dark', 
    items=trek_data
) }}

{% endblock %}
