<nav>
    <div>
        Trek Management
    </div>
    <!-- Nav Links -->

    <div>
        <a href="{{ url_for('admin.dashboard') }}">Dashborad</a>
        <a href="{{ url_for('admin.booking') }}">Bookings</a>
        <a href="{{ url_for('admin.trek') }}">Treks</a>
        <a href="{{ url_for('admin.history') }}">History</a>
        <a href="{{ url_for('admin.user') }}">Users</a>
        <a href="{{ url_for('admin.staff') }}">Staffs</a>
    </div>
    <!-- Search Bar-->
    <div>
        <form action="">
            <input type="text" placeholder="Search treks, users, staffs, bookings...">
            <button type="submit">Search</button>
        </form>
    </div>
    <!-- Action Links -->
    <div>
        <a href="{{ url_for('admin.profile') }}">Profile</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>


</nav>