{% extends "base.html" %}
{% block content %}
<div class="container py-3">
    <h2 class="mb-4">
        Search Results for
        <span class="text-primary">"{{ search }}"</span>
    </h2>
    {% if results.users %}
    <section class="mb-4">
        {% include "admin/search_user.html" %}
    </section>
    {% endif %}
    {% if results.bookings %}
    <section class="mb-4">
        {% include "admin/search_trek.html" %}
    </section>
    {% endif %}
    {% if results.bookings %}
    <section class="mb-4">
        {% include "admin/search_booking.html" %}
    </section>
    {% endif %}
    {% if not results.treks and not results.bookings %}
    <div class="mb-0 alert alert-warning">
        No results found for <strong>"{{ search }}"</strong>.
    </div>
    {% endif %}
</div>
{% endblock %}