{% extends "base.html" %}

{% block content %}

<section>
    <div>
        <h3>
            Total {{ role_type|capitalize + 's' }}: {{ total }}
        </h3>
    </div>
    <div>
        <h3>
            Approved {{ role_type|capitalize + 's' }}: {{ approved }}
        </h3>
    </div>
    <div>
        <h3>
            Pending {{ role_type|capitalize + 's' }}: {{ pending }}
        </h3>
    </div>
    <div>
        <h3>
            Active {{ role_type|capitalize + 's' }}: {{ active }}
        </h3>
    </div>
    <div>
        <h3>
            Inactive {{ role_type|capitalize + 's' }}: {{ inavtive }}
        </h3>
    </div>
    <div>
        <h3>
            Blacklisted {{ role_type|capitalize + 's' }}: {{ blacklisted }}
        </h3>
    </div>
    <div>
        <h3>
            Unblacklisted {{ role_type|capitalize + 's' }}: {{ unblacklisted }}
        </h3>
    </div>

</section><br><br>
<section>

    {% include 'admin/add_user.html' %}
</section>
<br><br>
<section>
    {% include 'admin/user_table.html' %}
</section>

{% endblock %}