{% extends "base.html" %}
{% from 'macros/stats.html' import statsCollapse %}
{% block content %}
<div class="container py-3">
    <!-- ============== Trekker Statistics  ============== -->
    {{ statsCollapse(
    title='Trekker',
    type='Statistics',
    bgcolor='bg-secondary-subtle',
    textcolor='text-dark',
    btn_color='btn-warning',
    btn_text_color='text-dark',
    items=trekker_data
    ) }}
    <!-- ============== Create Trekker ============== -->
    {% include "admin/add_user.html" %}
    <!-- ============== Trekker Table ============== -->
    {% include "admin/user_table.html" %}
</div>
{% endblock %}