{% extends "base.html" %}

{% block content %}

<section>
    <div>
        <h3>
            Total {{ type|capitalize + 's' }}: {{ trekkers|length }}
        </h3>
    </div>

</section>
<section>

    {% include 'admin/add_user.html' %}
</section>
<section>

    <h1> Manage {{ type|capitalize + 's' }} </h1>

    <table border='1'>
        <thead>
            <tr>
                <th colspan="10">
                    {{ type|capitalize + 's' }}
                </th>
                <th colspan="3">
                    Actions
                </th>
            </tr>
        <tr>
            <th>
                S.no.
            </th>
            <th>
                Used Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Username
            </th>
            <th>
                User Status
            </th>
            <th>
                Bio
            </th>
            <th>
                dob
            </th>
            <th>
                trekker_since
            </th>
            <th>
                Activate
            </th>
            <th>
                Deactivate
            </th>
            <th>
                Block
            </th>
        </tr>
    </thead>
    <tbody>
        {% for trekker in range(trekkers|length) %}
        <tr>
                <td>
                    {{ trekker + 1 }}
                </td>
                <td>
                    {{ trekkers[trekker].id }}
                </td>
                <td>
                    {{ trekkers[trekker].first_name }}
                </td>
                <td>
                    {{ trekkers[trekker].last_name }}
                </td>
                <td>
                    {{ trekkers[trekker].email }}
                </td>
                <td>
                    {{ trekkers[trekker].trekkername }}
                </td>
                <td>
                    {{ trekkers[trekker].trekker_status }}
                </td>
                <td>
                    {{ trekkers[trekker].bio }}
                </td>
                <td>
                    {{ trekkers[trekker].dob }}
                </td>
                <td>
                    {{ trekkers[trekker].trekker_since }}
                </td>
                <td>
                    {% if trekkers[trekker].account_status != 'active' %}
                        <form action="{{ url_for('admin.admin_action',role_type = type, id = trekkers[trekker].id, action = 'activate') }}" method="post">
                            <button>Activate</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    {% if trekkers[trekker].account_status != 'deactivated' %}
                        <form action="{{ url_for('admin.admin_action',role_type = type, id = trekkers[trekker].id, action = 'deactivate') }}" method="post">
                            <button>Deactivate</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    {% if trekkers[trekker].account_status != 'blocked' %}
                        <form action="{{ url_for('admin.admin_action',role_type = type, id = trekkers[trekker].id, action = 'block') }}" method="post">
                            <button>Block</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
        
    </table>

</section>
            

{% endblock %}