{% extends "base.html" %}
{% block content %}
<div class="container py-3">
    <!-- ============== Trek Statistics  ============== -->
    <div class="mb-4 card shadow-sm border-0">
        <div class="card-header bg-dark text-white">
            <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">
                <div>
                    <h3 class="mb-0">
                        Trek Statistics
                    </h3>
                </div>
                <button class="btn btn-warning fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#trekStats" aria-expanded="false" aria-controls="trekStats">
                    View Statistics
                </button>
            </div>
        </div>
        <div class="collapse" id="trekStats">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                    <!-- Total -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-primary text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Total Treks
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ total }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Pending -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-warning text-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Pending
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ pending }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Approved -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-success text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Approved
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ approved }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Open -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-primary-subtle text-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Open
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ open }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Closed -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-secondary-subtle text-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Closed
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ closed }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Ongoing -->
                    <div class="col">
                        <div class="card h-100 border-0 shadow-sm bg-primary-subtle text-dark">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    Ongoing
                                </h5>
                                <h2 class="mb-0 fw-bold display-5">
                                    {{ ongoing }}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============== Create Trek ============== -->
    {% include "admin/add_trek.html" %}
    <!-- ============== Trek Table ============== -->
    {% include "admin/trek_table.html" %}
</div>
{% endblock %}