{% extends "base.html" %}
{% from 'macros/stats.html' import statsCollapse %}
{% block content %}
<div class="container py-3">
    <!-- ============== Trek Statistics  ============== -->
    {{ statsCollapse(
    title='Trek',
    type='Statistics',
    bgcolor='bg-dark-subtle',
    textcolor='text-dark',
    btn_color='btn-warning',
    btn_text_color='text-dark',
    items=trek_data
    ) }}
    <!-- ============== Create Trek ============== -->
    {% include "admin/add_trek.html" %}
    <!-- ============== Trek Table ============== -->
    {% include "admin/trek_table.html" %}
</div>
{% endblock %}