<section>

    <h1> Manage Treks </h1>

    <table border='1'>
        <thead>
            <tr>
                <th colspan="13">
                    Treks Details
                </th>
                <th colspan="3">
                    Actions
                </th>
            </tr>
            <tr>
                <th>
                    S.no.
                </th>
                <th>
                    Trek Id
                </th>
                <th>
                    Trek Name
                </th>
                <th>
                    Assigned Staff Id
                </th>
                <th>
                    Location
                </th>
                <th>
                    Difficulty
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Trek Status
                </th>
                <th>
                    No. of Slots
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th>
                    Assign Staff
                </th>
                <th>
                    Activation
                </th>
                <th>
                    Restriction
                </th>
            </tr>
        </thead>
        <tbody>
            {% for trek in range(treks|length) %}
            <tr>
                <td>
                    {{ trek + 1 }}
                </td>
                <td>
                    {{ treks[trek].trek_id }}
                </td>
                <td>
                    {{ treks[trek].trek_name }}
                </td>
                <td>
                    {{ treks[trek].assigned_staff_id }}
                </td>
                <td>
                    {{ treks[trek].location }}
                </td>
                <td>
                    {{ treks[trek].difficulty }}
                </td>
                <td>
                    {{ treks[trek].duration }}
                </td>
                <td>
                    {{ treks[trek].trek_status }}
                </td>
                <td>
                    {{ treks[trek].no_of_slots }}
                </td>
                <td>
                    {{ treks[trek].start_date }}
                </td>
                <td>
                    {{ treks[trek].end_date }}
                </td>
                <td>
                    {{ treks[trek].price }}
                </td>
                <td>
                    {{ treks[trek].description }}
                </td>
                <td>
                    {% if not treks[trek].assigned_staff_id %}
                    <form
                        action="{{ url_for('admin.admin_trek_action', trek_id = treks[trek].trek_id, action = 'assign_staff') }}"
                        method="post">
                        <div>
                            {{ assign_staff_form.assigned_staff }}
                        </div>
                        <button>Assign</button>
                        
                    </form>
                    {% elif treks[trek].assigned_staff_id %}
                    <form
                        action="{{ url_for('admin.admin_trek_action', trek_id = treks[trek].trek_id, action = 'change_staff') }}"
                        method="post">
                        {{ assign_staff_form.hidden_tag() }}

                        <div>
                            {{ assign_staff_form.assigned_staff }}
                        </div>
                        <button>Change</button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if treks[trek].is_active %}
                    <form
                        action="{{ url_for('admin.admin_trek_action', trek_id = treks[trek].trek_id, action = 'deactivate') }}"
                        method="post">
                        <button>Deactivate</button>
                    </form>
                    {% else %}
                    <form
                        action="{{ url_for('admin.admin_trek_action', trek_id = treks[trek].trek_id, action = 'activate') }}"
                        method="post">
                        <button>Activate</button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if treks[trek].is_blocked %}
                    <form
                        action="{{ url_for('admin.admin_trek_action', trek_id = treks[trek].trek_id, action = 'unblock') }}"
                        method="post">
                        <button>Unblacklist</button>
                    </form>
                    {% else %}
                    <form
                        action="{{ url_for('admin.admin_trek_action', trek_id = treks[trek].trek_id, action = 'block') }}"
                        method="post">
                        <button>Blacklist</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>

</section>