{% extends "base.html" %}

{% block content %}

<section class="my-3">
    <div class="container border border-success p-3">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-info">
                <h3 class="mb-0">Trekkers Stats</h3>
            </div>
            <div class="card-body">
                <div class="row g-4">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm border-0 bg-primary text-white">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    Total Trekkers
                                </h4>
                                <p class="display-5 fw-bold mb-0">
                                    {{ total }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm border-0 bg-success text-white">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    Approved Trekkers
                                </h4>
                                <p class="display-5 fw-bold mb-0">
                                    {{ approved }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm border-0 bg-warning text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    Pending Trekkers
                                </h4>
                                <p class="display-5 fw-bold mb-0">
                                    {{ pending }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm border-0 bg-success text-white">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    Active Trekkers
                                </h4>
                                <p class="display-5 fw-bold mb-0">
                                    {{ active }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm border-0 bg-warning text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    Inactive Trekkers
                                </h4>
                                <p class="display-5 fw-bold mb-0">
                                    {{ inactive }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm border-0 bg-danger-subtle text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    Unblacklisted Trekkers
                                </h4>
                                <p class="display-5 fw-bold mb-0">
                                    {{ unblacklisted }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm border-0 bg-danger text-dark">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    Blacklisted Trekkers
                                </h4>
                                <p class="display-5 fw-bold mb-0">
                                    {{ blacklisted }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="my-3">

    {% include 'admin/add_user.html' %}
</section>

<section class="my-3">
    {% include 'admin/user_table.html' %}
</section>

{% endblock %}