<div class="container py-3">
    <div class="card shadow-sm border-0">
        <div class="d-flex card-header bg-danger-subtle justify-content-between align-items-center">
            <h4 class="mb-0 fw-bold">
                Manage {{ role_type|capitalize + 's' }}
            </h4>
            <div class="d-flex gap-2 align-items-center">
                <a href="{{ url_for('admin.' ~ role_type) }}" class="btn btn-secondary btn-sm">
                    Clear Filters
                </a>
                <button class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="collapse"
                    data-bs-target="#userFilters">
                    Filters
                </button>
            </div>
        </div>
        <div class="collapse" id="userFilters">
            <div class="card-body bg-light border-bottom">
                <form method="GET">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <!-- Search -->
                        </div>
                        <div class="col-md-3">
                            <!-- Approval -->
                        </div>
                        <div class="col-md-3">
                            <!-- Active -->
                        </div>
                        <div class="col-md-2">
                            <!-- Sort -->
                        </div>
                    </div>
                    <div class="d-flex mt-3 gap-2 justify-content-end">
                        <button class="btn btn-danger">
                            Apply
                        </button>
                        <a href="{{ url_for('admin.' ~ role_type) }}" class="btn btn-secondary">
                            Reset
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-0 card-body">
            <div class="table-responsive">
                <table class="mb-0 table table-bordered table-striped table-hover align-middle text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Approval</th>
                            <th>Active</th>
                            <th>Blocked</th>
                            <th>Profile</th>
                            <th>Approval</th>
                            <th>Activation</th>
                            <th>Restriction</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                {{ user.first_name|title }}
                            </td>
                            <td>
                                {% if user.last_name %}
                                {{ user.last_name|title }}
                                {% endif %}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {% if user.is_approved %} <span class="badge bg-success text-white fs-6">Approved</span>
                                {% else %} <span class="badge bg-warning text-dark fs-6">Pending</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_active %} <span class="badge bg-success text-white fs-6">Active</span>
                                {% else %} <span class="badge bg-warning text-dark fs-6">Inactive</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_blocked %} <span class="badge bg-danger text-dark fs-6">Blacklisted</span>
                                {% else %} <span class="badge bg-danger-subtle text-dark fs-6">Not Blacklisted</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.role == 'admin' %}
                                <a href="{{ url_for('admin.profile') }}"
                                    class="btn btn-sm btn-outline-info fw-bold text-danger-emphasis">
                                    View
                                </a>
                                {% elif user.role == 'staff' %}
                                <a href="{{ url_for('admin.view_staff', staff_id = user.id ) }}"
                                    class="btn btn-sm btn-outline-info fw-bold text-danger-emphasis">
                                    View
                                </a>
                                {% else %}
                                <a href="{{ url_for('admin.view_trekker', trekker_id = user.id ) }}"
                                    class="btn btn-sm btn-outline-info fw-bold text-danger-emphasis">
                                    View
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if not user.is_approved %}
                                <form
                                    action="{{ url_for('admin.admin_action',role_type = role_type, id = user.id, action = 'approved') }}"
                                    method="post">
                                    <button class="btn btn-success btn-sm fw-bold">Approve</button>
                                </form>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_active %}
                                <form
                                    action="{{ url_for('admin.admin_action',role_type = role_type, id = user.id, action = 'deactivate') }}"
                                    method="post">
                                    <button class="btn btn-warning btn-sm fw-bold">Deactivate</button>
                                </form>
                                {% else %}
                                <form
                                    action="{{ url_for('admin.admin_action',role_type = role_type, id = user.id, action = 'activate') }}"
                                    method="post">
                                    <button class="btn btn-success btn-sm fw-bold">Activate</button>
                                </form>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_blocked %}
                                <form
                                    action="{{ url_for('admin.admin_action',role_type = role_type, id = user.id, action = 'unblock') }}"
                                    method="post">
                                    <button
                                        class="btn btn-outline-warning btn-sm fw-bold text-dark">Unblacklist</button>
                                </form>
                                {% else %}
                                <form
                                    action="{{ url_for('admin.admin_action',role_type = role_type, id = user.id, action = 'block') }}"
                                    method="post">
                                    <button class="btn btn-danger btn-sm fw-bold">Blacklist</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>