{% extends 'base.html' %}
{% block content %}

<section class="my-3">
    <div class="container border border-primary p-3">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-secondary-subtle">
                <div class="d-flex justify-content-between gap-3">
                    <h3 class="mb-0">Trekker Details</h3>
                    <code class="fs-3 fw-semibold mb-0">Trekker Id: {{ id }}</code>
                    <a href="{{ url_for('admin.staff') }}" class="btn btn-info text-dark fs-5 fw-semibold">Back</a>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table-borderless">
                    <tr>
                        <td class="fs-5 w-25 p-2">First Name</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 w-75 p-2">{{ first_name|title }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Last Name</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ last_name|title }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Email</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ email }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Contact</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ contact }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Date of Birth</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ dob }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Created Date</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ created_at }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 align-top p-2">Bio</td>
                        <td>:</td>
                        <td class="fs-5 text-wrap p-2">{{ bio }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container border border-secondary p-3">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-secondary-subtle">
                <div class="d-flex justify-content-between gap-3">
                    <h3 class="mb-0">Booking Details</h3>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                Booking Id
                            </th>
                            <th>
                                Trek Id
                            </th>
                            <th>
                                Trekker Id
                            </th>
                            <th>
                                Booking Date
                            </th>
                            <th>
                                Amount Paid
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in booking_details %}
                        <tr></tr>
                            <td>
                                {{ booking.id }}
                            </td>
                            <td>
                                {{ booking.trek_id }}
                            </td>
                            <td>
                                {{ booking.trekker_id }}
                            </td>
                            <td>
                                {{ booking.booking_date }}
                            </td>
                            <td>
                                {{ booking.amount_paid }}
                            </td>
                            <td>
                                {% if booking.status == 'approved' %}<span
                                    class="badge bg-success text-white fs-6">Approved</span>
                                {% elif booking.status == 'pending' %}<span
                                    class="badge bg-warning text-dark fs-6">Pending</span>
                                {% elif booking.status == 'rejected' %}<span
                                    class="badge bg-danger text-white fs-6">Rejected</span>
                                {% elif booking.status == 'requested' %}<span
                                    class="badge bg-danger-subtle text-dark fs-6">Requested</span>
                                {% elif booking.status == 'cancelled' %}<span
                                    class="badge bg-info text-dark fs-6">Cancelled</span>
                                {% elif booking.status == 'completed' %}<span
                                    class="badge bg-primary text-white fs-6">Completed</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


{% endblock %}