{% extends 'base.html' %}
{% block content %}

<section class="my-3">
    <div class="container border border-primary p-3">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-secondary-subtle">
                <div class="d-flex justify-content-between gap-3">
                    <h3 class="mb-0">Trekker Details</h3>
                    <code class="fs-3 fw-semibold mb-0">Trekker Id: {{ id }}</code>
                    <a href="{{ url_for('admin.trekker') }}" class="btn btn-info text-dark fs-5 fw-semibold">Back</a>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table-borderless">
                    <tr>
                        <td class="fs-5 w-25 p-2">First Name</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 w-75 p-2">{{ first_name|title }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Last Name</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ last_name|title }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Email</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ email }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Contact</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ contact }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Date of Birth</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ dob }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 p-2">Created Date</td>
                        <td class="fs-5 p-2">:</td>
                        <td class="fs-5 p-2">{{ created_at }}</td>
                    </tr>
                    <tr>
                        <td class="fs-5 align-top p-2">Bio</td>
                        <td>:</td>
                        <td class="fs-5 text-wrap p-2">{{ bio }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    {% include 'admin/view_booking_table.html' %}
</section>


{% endblock %}