{% extends "base.html" %}
{% import 'macros/forms.html' as fm %}
{% block content %}
<section class="d-flex min-vh-100 align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow border-0">
                    <!-- ================= Header ================= -->
                    <div class="card-header bg-primary text-white text-center">
                        <h2 class="mb-1">
                            Welcome Back
                        </h2>
                        <small class="text-white-50">
                            Sign in to continue to Trek Management System.
                        </small>
                    </div>
                    <!-- ================= Body ================= -->
                    <div class="p-4 card-body">
                        <form action="{{ url_for('auth.login') }}" method="POST">
                            <div class="row g-4">
                                {{ form.hidden_tag() }}
                                <!-- Email -->
                                {{ fm.render_field(form.email, 'Enter email', size='full') }}
                                <!-- Password -->
                                {{ fm.render_field(form.password, 'Enter password', size='full') }}
                                <!-- Submit -->
                                <div class="d-grid">
                                    {{ form.submit(
                                    class="btn btn-primary btn-lg fw-bold"
                                    ) }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ================= Footer ================= -->
                    <div class="card-footer text-center bg-light">
                        <p class="mb-2">
                            New Trekker?
                            <a href="{{ url_for('auth.register', role_type='trekker') }}"
                                class="fw-semibold text-decoration-none">
                                Create Account
                            </a>
                        </p>
                        <hr>
                        <p class="mb-0">
                            New Staff?
                            <a href="{{ url_for('auth.register', role_type='staff') }}"
                                class="fw-semibold text-decoration-none">
                                Register Here
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}