{% extends "auth/auth_base.html" %}

{% block content %}

<div>
    <h2>Log In</h2><br>
    <div>
        <form action="{{ url_for('auth.login') }}" method="POST">
            {{ form.hidden_tag() }}

            <div>
                <p>{{ form.email.label }}</p>
                <p>{{ form.email }}</p>
                {% for error in form.email.errors %}
                <p><span style="color: red;">[{{ error }}]</span></p>
                {% endfor %}
            </div><br>
            <div>
                <p>{{ form.password.label }}</p>
                <p>{{ form.password}}</p>
                {% for error in form.password.errors %}
                <p><span style="color: red;">[{{ error }}]</span></p>
                {% endfor %}
            </div><br>
            <div>
                <p>{{ form.submit }}</p>
            </div>
        </form>
    </div><br>
    <div>

        <p>
            New User? <a href="{{ url_for('auth.registerUser') }}">Create Account</a>
        </p><br>
        <p>New Staff? <a href="{{ url_for('auth.registerStaff') }}">Register Staff</a></p>
    </div>
</div>
<br>
<p><strong>{{ current_user.first_name }}</strong></p>

{% endblock %}